/*-- scss:defaults --*/
//$font-family-sans-serif: 'Bodoni Moda', serif;
$font-family-sans-serif: 'D-DINCondensed', sans-serif;

/*-- scss:rules --*/

/* D-Din */
@font-face {
  font-family: D-DIN;
  src: url(fonts/D-DIN.otf) format('otf');
  font-weight: normal;
}

/* D-DINCondensed */
@font-face {
  font-family: 'D-DINCondensed';
  font-weight: 'normal';
  src: local(''),
       url("fonts/D-DINCondensed.otf") format('otf');
}

/* D-DINBold */
@font-face {
  font-family: 'D-DIN Bold';
  font-weight: 'bold';
  src: local(''),
       url("fonts/D-DIN-Bold.otf") format('otf');
}

/* D-DINExp */
@font-face {
  font-family: 'D-DINExp';
  src: url(fonts/D-DINExp.otf) format('otf');
  font-weight: normal;
}

/* D-DINExp-Bold */
@font-face {
  font-family: D-DINExp-Bold;
  src: url(fonts/D-DINExp-Bold.otf) format('otf');
  font-weight: bold;
}

/* DINAlternate-Bold */
@font-face {
  font-family: DINAlternate-Bold;
  src: url(fonts/DIN-Alternate-Bold.ttf) format('ttf');
  font-weight: bold;
}

/* Table CSS classes */
.podcast-urls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header {
  font-size: 0.75rem;
}

.preprocessing-note {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
}